#projects{
    background-color: #F2F3F6;
    min-height: 839px;
}

#projects h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    display: inline;
    font-size: 52px;
}

#project-header{
    color: #49B6DD;
}

.project-title{
    color: black;
}

#project-title-container{
    padding-top: 138px;
    padding-bottom: 12px;
}

#project-container{
    max-width: 1040px;
    margin:auto;
}

#grid-container{
    padding-bottom: 158px;
}

.my-grid{
    margin-top: 25px!important;
}

.links:hover{
    color: #656565;
}

/* TODO: figure out how to get the column margins changed */
.my-grid:not(.uk-first-column){

}

/* TODO: do we want box shadow? padding size between titles and images */


/* TODO:  media queries for small desktops, tablets, phones*/
