#projects{
    background-color: #F2F3F6;
    min-height: 839px;
    width: 100%;
}

#projects h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    display: inline;
    font-size: 52px;
}

#project-header{
    color: #49B6DD;
}

#project-title{
    color: black;
}

#project-title-container{
    margin-bottom: 31px;
}

#project-container{
    padding-top: 138px;
    max-width: 1040px;
    margin:auto;
}

#grid-container{
    padding-bottom: 158px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 25px;
}

.links:hover{
    color: #656565;
}

/* TODO:  media queries for tablets, phones*/
@media screen and (max-width:1060px) {
    #project-container{
        padding-top: 78px;
        width: 644px;
    }
    #grid-container{
        padding-bottom: 86px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 24px;
        row-gap: 36px;
    }
    #projects h1{
        font-size: 42px;
    }
}
