#connect{
    min-height: 600px;
    align-items: center;
    display: flex;
}

#connect-title-container h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    display: inline;
    font-size: 52px;
}

#connect{
    color: #9F56F8;
}

#connect-container{
    width: 700px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#connect-with-me{
    margin: 20px 0px 40px 0px;
    text-align: center;
    max-width: 642px;
}

#hello-button{
    padding: 10px 40px;
    border-radius: 12px;
    background-color: transparent;
    border: solid 1px black;
    font-size: 18px;
}

#hello-button:hover{
    cursor: pointer;
}