#connect{
    height: 555px;
    align-items: center;
    display: flex;
    width: 100%;
}

#connect-title-container h1{
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    display: inline;
    font-size: 43px;
}

#connect{
    color: #AC5DE0;
}

#connect-container{
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

#connect-with-me{
    margin: 20px 0px 40px 0px;
    text-align: center;
    width: 642px;
}

#hello-button{
    border-radius: 12px;
    background-color: transparent;
    border: solid 1px black;
    font-size: 18px;
    width: 161px;
    height: 46px;
}

#hello-button:hover{
    cursor: pointer;
    color: #656565;
    border: solid 1px #656565;
}

@media screen and (max-width:1060px) {
    #connect{
        height: 398px;
    }

    #connect-title-container h1{
        font-size: 42px;
    }

    #connect-with-me{
        margin-bottom: 38px;
        width: 550px;
    }
}

/* TODO:  media queries for large phones*/
@media screen and (max-width:744px) {
    #connect-with-me{
        width: auto;
    }

    #connect-paragraph{
        margin: 0px 5px 0px 5px;
        font-size: 15px;
    }
}

/* TODO: media queries for small phones */