#welcome-main{
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding-top: 228px;
    padding-bottom: 158px;
    width: 100%;
}

#welcomeContainer{
    display: flex;
    justify-content: center;
    width: 1040px;
    margin: 0px auto;
}

.my-title{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    margin: 0px;
    color: black;
    font-size: 43px;
}

.contact-icons{
    width: 38px;
}

.contact-icons:hover{
    opacity: 0.6;
}

#icon-tags{
    float: right;
}

#github, #insta{
    margin-left: 15px;
}

#insta{
    margin-right: 5px;
}

#name{
    color: #FF9557;
}

#info-container{
    margin-right: 90px;
    width: 590px;
}

#my-pics{
    width: 360px;
    height: auto;
    margin-top: 10px;
}

#hero-pic{
    border-radius:33px;
    width: 360px;
    height: 360px;
    object-fit: cover;
    margin-bottom: 20px;
}

#about{
    display: flex;
    margin-top: 36px;
}

#paragraph-container{
    display: flex;
    flex-wrap: wrap;
}

.about-paragraph{
    margin: 0px;
    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 18px;
}

.my-code{
    white-space: normal;
}

/* for tablets */
@media screen and (max-width:1060px){
    #welcomeContainer{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 644px;
    }

    #welcome-main{
        padding-top: 176px;
        padding-bottom: 86px;
    }

    #hero-pic{
        width: 300px;
        height: 300px;
        align-self: center;
    }

    #title-container{
        margin-top: 30px;
    }

    #info-container{
        margin-right: 0px;
        width: auto;
    }

    #my-pics{
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }

    #icon-tags{
        margin:auto;
    }
    
    #github, #insta{
        margin-right: 0px;
    }
}

/* for large phones */
@media screen and (max-width:744px) {
    #info-container{
        margin: 0px 25px;
    }

    #hero-pic{
        width: 228px;
        height: 228px;
    }

    #title-container{
        margin-top: 38px;
    }

    .my-title{
        font-size: max(5.75vw,29px);
    }

    .about-paragraph{
        font-size: max(2.41vw,16px)!important;
    }

    #about{
        margin-top: 31px;
    }

    #welcome-main{
        padding-top: 102px;
        padding-bottom: 52px;
    }

}

/* TODO: media queries for small phones */
@media screen and (max-width:365px) {
    
}