#welcome-main{
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding-top: 228px;
    padding-bottom: 158px;
}

#welcomeContainer{
    display: flex;
    justify-content: center;
    width: 1040px;
    margin: 0px auto;
}

.my-title{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    margin: 0px;
    color: black;
    font-size: 52px;
}

.contact-icons{
    width: 38px;
    float: right;
}

#github{
    margin-right: 5px;
    margin-left: 15px;
}

#name{
    color: #FF9557;
}

#info-container{
    margin-right: 90px;
    width: 590px;
}

#my-pics{
    width: 360px;
    height: auto;
}

#myPic{
    border-radius:25px;
    width: 360px;
    height: 360px;
    object-fit: cover;
    margin-bottom: 20px;
}

/* for small tablets  */
@media screen and (max-width:959px){
    #welcomeContainer{
        display: block;
    }
    #myPic{
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #title-container h1{
        text-align: center;
    }
    #info-container{
        margin: auto;
        margin-top: 60px;
    }
    #about{
        width: 360px;
        margin: auto;
    }
}

/* for larger phones */
@media screen and (max-width:767px) {
    #info-container{
        margin-top: 10px;
    }
    #myPic{
        width: 240px;
        height: 240px;
    }
    .about-paragraph{
        font-size: small;
    }
    #title-container h1{
        font-size: 2rem;
    }
}

/* for smaller phones */
@media screen and (max-width:375px) {
    #info-container{
        margin-top: 50px;
    }
    #title-container h1{
        font-size: 1.5rem;
    }
    .about-paragraph{
        font-size: smaller;
        width: 200px;
    }
    #myPic{
        width: 200px;
        height: 200px;
    }
    #welcome-container{
        margin: 0px;
    }
    #paragraph-container{
        flex-direction: column;
        margin: auto;
    }
}