#welcome-main{
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    padding-top: 228px;
    padding-bottom: 158px;
}

#welcomeContainer{
    display: flex;
    justify-content: center;
    width: 1040px;
    margin: 0px auto;
}

.my-title{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    margin: 0px;
    color: black;
    font-size: 52px;
}

.contact-icons{
    width: 38px;
}

#icon-tags{
    float: right;
}

#github{
    margin-right: 5px;
    margin-left: 15px;
}

#name{
    color: #FF9557;
}

#info-container{
    margin-right: 90px;
    width: 590px;
}

#my-pics{
    width: 360px;
    height: auto;
}

#hero-pic{
    border-radius:25px;
    width: 360px;
    height: 360px;
    object-fit: cover;
    margin-bottom: 20px;
}

/* TODO: for large tablets */
@media screen and (max-width:1060px){
    .my-title{
        font-size: 43px;
    }
    #welcomeContainer{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
        width: 644px;
    }
    #welcome-main{
        padding-top: 176px;
    }
    #hero-pic{
        width: 300px;
        height: 300px;
        align-self: center;
    }
    #title-container{
        margin-top: 45px;
    }
    #info-container{
        margin-right: 0px;
        width: auto;
    }
    #about{
        margin-top: 22px;
    }
    #my-pics{
        display: flex;
        flex-direction: column;
    }
    #icon-tags{
        margin:20px auto 0px auto;
    }
    #github{
        margin-right: 0px;
    }
}

/* TODO: for phones */
@media screen and (max-width:744px) {
    /* #info-container{
        margin-top: 10px;
    }
    #hero-pic{
        width: 240px;
        height: 240px;
    }
    .about-paragraph{
        font-size: small;
    }
    #title-container h1{
        font-size: 2rem;
    } */
}
