.new-card{
    height: 410px;
    width: 330px;
    border-radius: 25px;
    box-shadow: none!important;
}

/* .new-card:hover{
    bottom: 10px;
} */

.images{
    height: 140px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 25px 25px 0px 0px;
}

.card-container{
    padding: 25px 34px 30px 34px!important;
    text-align: left;
}

.card-info-container{
    height: 215px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-title{
    font-size: 24px!important;
    font-weight: 700;
    line-height: 28px!important;
    font-family: 'Poppins',sans-serif;
    color: black!important;
    margin-bottom: 12px;
    letter-spacing: -0.2px;
}

.card-description{
    margin: 0px;
    color: black;
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.1px;
}

.read-more{
    text-align: left;
    line-height: 27px;
    color: black;
    font-weight: 500;
    margin-bottom: 0px;
    font-size: 18px;
}

@media screen and (max-width:1060px) {
    .new-card{
        width: 310px;
    }
}

/* TODO:  media queries for phones*/
