#intro, #work, #resume, #contact{
    text-transform: none;
    font-weight: 300;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    color: black;
}

#navBar{
    background-color: #ffffff;
    box-shadow: 0px 2px 25px rgba(0,0,0,0.06);
    height: 90px;
}

#intro:hover, #work:hover, #resume:hover, #contact:hover{
    color: #656565;
}

@media screen and (max-width:1060px) {
    #intro, #work, #resume, #contact{
        font-size: 17px;
    }
}