#intro, #work, #resume, #contact{
    text-transform: none;
    font-weight: 300;
    font-size: 1em;
    font-family: 'Poppins', sans-serif;
}

#my-nav{
    padding: 10px 0 10px 0;
    margin-bottom: 5px;
}

#navBar{
    background-color: #ffffff;
    box-shadow: 0px 2px 25px rgba(0,0,0,0.06);
}