#welcome-main{
    min-height: 839px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

#welcomeContainer{
    display: flex;
    justify-content: center;
    margin: 0px 200px 0px 200px;
}

.my-title{
    font-family: "Poppins";
    font-weight: 700;
    margin: 0px;
}

#hi{
    color: #af84ed;
}

#info-container{
    margin-right: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#myPic{
    border-radius:25px;
    width: 360px;
    height: 360px;
    object-fit: cover;
}

/* TODO: create mobile friendly breakpoints */
@media screen and (max-width:426px){
    #welcomeContainer{
        display: block;
    }
    #myPic{
        display: block;
        margin-left: auto;
        margin-right:auto;
        width: 50%;
    }
    h1{
        text-align: center;
    }
}