#welcome-main{
    min-height: 839px;
    align-items: center;
    display: flex;
    justify-content: center;
    background-color: #ffffff;
}

#welcomeContainer{
    display: flex;
    justify-content: center;
    max-width: 900px;
    margin: auto;
}

.my-title{
    font-family: "Poppins";
    font-weight: 700;
    margin: 0px;
}

#name{
    color: #af84ed;
}

#info-container{
    margin-right: 60px;
}

#myPic{
    border-radius:25px;
    width: 360px;
    height: 360px;
    object-fit: cover;
}

/* TODO: create tablet friendly breakpoint */
@media screen and (max-width:959px){
    #welcomeContainer{
        display: block;
    }
    #myPic{
        display: block;
        margin-left: auto;
        margin-right:auto;
        width: 50%;
    }
    h1{
        text-align: center;
    }
    #info-container{
        width: 50%;
        margin: auto;
        margin-top: 60px;
    }
}

/* TODO: create mobile friendly breakpoint */
@media screen and (max-width:767px) {
    
}